// MAIN WEBSITE COLORS

$color-white: #FFFFFF;
$color-gray: #7D7D7D;
$color-gray-light: #BABABA;
$color-gray-medium: #EBEBEB;
$color-red: #FF2E00;
$color-blue: #003EDE;
$color-navy: #2E2E38;
$color-green: #85C744;
$color-turquoise: #10C9C9;
$color-purple: #7907EB;

// BRAND COLORS

// rocketpost
$rp-color-primary: #2535A2;
$rp-color-secondary: #21B6FC;

// leveleleven
$l11-color-primary: #E84D38;
