// MAIN WEBSITE COLORS

$color-white: #FFFFFF;
$color-gray: #7D7D7D;
$color-gray-light: #BABABA;
$color-gray-medium: #EBEBEB;
$color-red: #FF2E00;
$color-blue: #003EDE;
$color-navy: #2E2E38;
$color-green: #85C744;
$color-turquoise: #10C9C9;
$color-purple: #7907EB;

// BRAND COLORS

// rocketpost
$rp-color-primary: #2535A2;
$rp-color-secondary: #21B6FC;
$rp-color-footer: #2535A2;

// leveleleven
$l11-color-primary: #E84D38;
$l11-color-footer: #2A3449;

// element5
$e5-color-primary: #23343F;
$e5-color-secondary: #E48647;
$e5-color-footer: #598A9F;

// gentlemans box
$gb-color-primary: #333333;
$gb-color-secondary: #882626;
$gb-color-footer: #333333;
