.Hero {
  align-items: stretch;
  display: flex;
  min-height: 600px;
  max-height: 100vh;
  position: relative;

  &:before {
    background: url(../images/hero.jpg) no-repeat right top;
    content: "";
    opacity: 0.7;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.Hero-content {
  color: #fff;
  display: flex;
  height: 100%;
}

.Hero-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  padding: 20px 20px 20px 0;
  max-width: 50%;

  span {
    display: block;
    margin-bottom: 20px;
  }
}

.Hero-right {
  align-items: flex-end;
  display: flex;
  flex: 1;
  justify-content: flex-end;

  a {
    color: #fff;
    display: flex;
    flex-direction: column;
    text-decoration: none;

    span {
      display: block;
      transform: rotate(90deg);
      transform-origin: top right;
    }

    img {
      align-self: flex-end;
      animation: pulse 2s infinite 1s;
      animation-fill-mode: forward;
      height: 66px;
      margin-right: 7px;
      margin-bottom: 50px;
      width: 8px;
    }
  }
}

@keyframes pulse {
  0% { transform: translateY(0); }
  50% { transform: translateY(20px); }
  100% { transform: translateY(0); }
}

.Hero-buttons {
  display: flex;
  margin-top: 60px;
}

.Hero-button {
  border-bottom: 2px solid #fff;
  color: #fff;
  display: inline-block;
  margin-left: 45px;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;

  &:first-of-type {
    margin-left: 0;
  }

  &:before {
    transform: translateX(100%);
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-bottom: 2px solid transparent;
    border-left: 2px solid transparent;
  }

  &:after {
    transform: translateX(-100%);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
  }

  &:hover {
    border-bottom: none;

    &:before {
      transition: .2s transform linear, .2s height linear .2s;
      transform: translateX(0);
      height: 100%;
      border-color: #fff;
    }
    &:after {
      transition: .2s transform linear .4s, .2s height linear .6s;
      transform: translateX(0);
      height: 100%;
      border-color: #fff;
    }
  }
}
