@import 'sanitize';
@import 'typography';

/**********
	GLOBAL
**********/
a {
  cursor: pointer;
}

.gray {
  color: #7D7D7D;
}

.gray-light {
  color: #BABABA;
}

.g-container {
	margin: 0 auto;
  padding: 0 20px;
  position: relative;
	width: 100%;
	max-width: 1320px;
}

.g-button {
  color: #fff;
  display: inline-block;
  margin-left: 45px;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
  white-space: nowrap;

  &:first-of-type {
    margin-left: 0;
  }

  &:after {
    background: #fff;
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translatex(-50%);
    transition: width 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.4s;
    width: 75%;
  }

  span {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    transition: all 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    width: 100%;

    &:after, &:before {
      background: #fff;
      content: '';
      display: block;
      position: absolute;
      transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9);
    }

    &:first-child {
      height: 100%;

      &:after, &:before {
        bottom: 0;
        height: 100%;
        transform: scale3d(1, 0, 1);
        transform-origin: bottom center;
        transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s;
        width: 1px;
      }

      &:before {
        left: 0;
      }

      &:after {
        right: 0;
      }
    }

    &:last-child {
      height: 1px;
      width: 100%;

      &:before, &:after {
        bottom: 0;
        height: 1px;
        transform: scale3d(0, 1, 1);
        transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
        width: 100%;
      }

      &:before {
        left: 0;
        transform-origin: bottom left;
      }

      &:after {
        right: 0;
        transform-origin: bottom right;
      }
    }
  }

  &:hover {
    opacity: 1;
    outline: 0;
    text-decoration: none;
    transition: color 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;

    &:after {
      transition: width 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
      width: 100%;
    }

    span {
      &:first-child {
        &:before, &:after {
          transform: scale3d(1, 1, 1);
          transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.2s;
        }
      }

      &:last-child {
        &:before, &:after {
          transform: scale3d(1, 1, 1);
          transition: transform 0.2s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0.4s;
        }
      }
    }
  }
}

.g-button--alt {
  animation: color-change 90s linear 2s infinite;
  color: #FF2E00;

  &:after {
    animation: bg-change 90s linear 2s infinite;
    background: #FF2E00;
  }

  span {
    &:after, &:before {
      animation: bg-change 90s linear 2s infinite;
      background: #FF2E00;
    }
  }
}

.g-bg-change {
	animation: bg-change 90s linear 2s infinite;
	background: #FF2E00;
}

@keyframes bg-change {
  0%, 100% { background: #FF2E00; }
  20%      { background: #003EDE; }
  40%      { background: #85C744; }
  60%      { background: #10C9C9; }
  80%      { background: #7907EB; }
}

.g-color-change {
	animation: color-change 90s linear 2s infinite;
	color: #FF2E00;
}

@keyframes color-change {
  0%, 100% { color: #FF2E00; }
  20%      { color: #003EDE; }
  40%      { color: #85C744; }
  60%      { color: #10C9C9; }
  80%      { color: #7907EB; }
}

/* desktop styles */
@media all and (min-width: 768px) {
  body {
    overflow: auto !important;
  }
}
