@import '../styles/colors.scss';

.Rocketpost-interface {
  display: flex;
  flex-direction: column;

  > img {
    display: block;
    left: 7%;
    order: 2;
    position: relative;
    width: 100%;
  }
}

.Rocketpost-interface-content {
  order: 1;
  padding: 60px 20px 0;
  position: relative;

  > h3 {
    color: $rp-color-secondary;
  }
}


/* desktop styles */
@media all and (min-width: 768px) {
  .Rocketpost-interface {
    flex-direction: row;
    align-items: center;
  }

  .Rocketpost-interface {
    > img {
      flex: 1;
      left: 0;
      margin-right: -17%;
      margin-bottom: -15%;
      order: 1;
      width: 75%;
    }
  }

  .Rocketpost-interface-content {
    flex: 1;
    order: 2;
    padding-right: 5%;
    width: 25%;
  }
}
